<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title -Brandon Settje Developer</title>
    <link rel="icon" href="~/Content/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-10">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>Brandon Settje's Developer Page 2015</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>